<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "0.0.2" >
        <name>Radio Show 99,5 FM</name>
        <description>
            Aplicativo da Radio Show 99,5 FM
        </description>
        <author email="comercialradioshow@gmail.com" href="">
            Radio Show
        </author>
        <icon src="icon.png" />
        <plugin name="cordova-plugin-device" />
        <plugin name="cordova-plugin-file-transfer" />
        <plugin name="cordova-plugin-media" />
        <plugin name="cordova-plugin-network-information" />
        <access origin="*"/>
        <plugin name="cordova-plugin-whitelist" version="1" />
        <preference name="Orientation" value="portrait" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <log level="DEBUG"/>
    </widget>
