<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "0.0.1" >  
        <name>Radio Transativa</name>
        <description>
            A sample Apache Cordova application that responds to the deviceready event.
        </description>
        <author email="luizbweb@gmail.com" href="http://waw.net.br">
            Luiz Bruno
        </author>
        <icon src="icon.png" />
        <plugin name="cordova-plugin-device" />
        <plugin name="cordova-plugin-file-transfer" />
        <plugin name="cordova-plugin-media" />
        <plugin name="cordova-plugin-network-information" />
        <access origin="*"/>
        <plugin name="cordova-plugin-whitelist" version="1" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <log level="DEBUG"/>
    </widget>
